/* comments */
/* css can target different elements and apply style */
/* target whole page*/

/*body is target*/
/* what you can effect, value you give separate all things with color*/
body {
  font-family: Cursive, sans-serif;
  color: purple;
  }
h1 {
  color: goldenrod;
}
img {
 width: 200px;
  height: 500px;
}
